
@media only screen and (min-width: 480px) {
.teljes_valasztek .btn-lg.btn.btn-inv.btn-success {
	font-size: 16px;
}
}

@media only screen and (min-width: 768px) {
.col-sm-5.text-left.xs-text-center {
	text-align: left;
}
.col-sm-7.text-right.xs-text-center {
	display: flex;
	justify-content: flex-end;
}
.footer_menu ul {
	display: block;
}
.footer_menu h4:after {
	display: none;
}
.vc_col-sm-6 {
width: 50%;
float: left;	
}

}

@media only screen and (min-width: 991px) {
#fomenu {
	display: block;
}
.slicknav_menu {
	display: none;
}
.fejlec_kosar {
	position: relative;
	top: -5px;
	right: inherit;
	float: right;
	margin-left: 10px;
}
.menu-kosar {
	float: right;
	padding: 30px 0;
}
.row.header {
	padding: 0px 0;
}
.nyelvvalto_box {
    padding-top: 24px;
    padding-bottom: 30px;
    margin-left: 15px;
    top: 0;
    float: right;
    position: relative;
}
.nyelvvalto {
    bottom: -40px;
}
}
@media only screen and (min-width: 1200px) {
	#fomenu a {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1em;
	padding: 5px 10px;
}
.nyelvvalto_box a, .nyelvvalto_box strong {
font-size: 14px;
}
.kosarosszeg {
	font-size: 14px;
}
.fa.fa-shopping-cart {
	font-size: 20px;
}
.keres_toggle {display: block;
font-size: 14px;
text-transform: uppercase;
font-weight: 700;
line-height: 1em;
padding: 5px 10px;
cursor: pointer;
}
}